<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <%end%>
</p>
<p><%= @article.body %></p>

<%= link_to "Delete",article_path(@article),data: {confirm: "Confirm Deletion of article"},
method: :delete %><br />
<!-- method delete is used by rails to emulate HTML delete^ !-->

<%= link_to "edit", edit_article_path(@article) %><br />
<%= link_to "<<Back to Articles List", articles_path %>
<%= render partial: 'comments/form' %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
